#admin__panel__crete__product__text{
    position: relative;
    right: 6%;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 10%;
}

.admin__panel__crete__product input{
    position: relative;
    left: 28%;
    padding: 7px;
    margin-left: 10px;
    width: 30%;
    color: black;
}


.admin__panel__crete__product button {
    position: relative;
    left: 28%;
    padding: 6px;
    margin-left: 10px;
    width: 4%;
    border-radius: 6px;
}

.admin__panel__delete__prroduct input {
    position: relative;
    left: 30%;
    padding: 7px;
    margin-left: 10px;
    width: 30%;
    color: black;
}

.admin__panel__delete__prroduct button {
    position: relative;
    left: 30%;
    padding: 6px;
    margin-left: 10px;
    width: 4%;
    border-radius: 6px;
}

#admin__panel__delete__prroduct__text{
    position: relative;
    right: 5%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 15%;
}

.admin__panel__crete__product label{
    position: relative;
    left: 28%;
    padding: 7px;
    margin-left: 10px;
    width: 30%;
}