.cart__title{
    width: 20%;
    margin: 0 5px;
    position: relative;
    left: 10%;
}

.cart{
    display: flex;
    justify-content: center;
}

.cart__products {
    margin: 50px;
    border: 1px solid teal;
    border-radius: 10px;
    width: 45%;
    min-height: 200px;
    position: relative;
    right: 15%;
    top: 50px;
}

.cart__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: teal;
}