.signup__wrapper {
    max-width: max-content;
    position: relative;
    left: 700px;
}

.signup__form{
    background-color: #303338;
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

.signup__text__wrapper{
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.signup__form__input{
    position: relative;
    left: 13%;
    border-radius: 10px;
    background-color: #617566;
    width: 300px;
    color:white;
}


.singup__form__button{
    position: relative;
    left:37%;
}

.signup_form__text{
    font-size: 24px;
    position: relative;
    left: 160px;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}