.cart__product {
    margin: 15px;
    padding: 5px;
    width: 10%;
}

.cart__product__name{
    position: relative;
    left: 150px;
    bottom: 100px;
    font-size: 18px;
    width: max-content;
}

.delete__button{
    position: relative;
    left: 50em;
    bottom: 150px;
}

.cart__product__price{
    font-size: 24px;
    position: relative;
    left: 700px;
    bottom: 40px;
}

.to__order{
    padding: 15px 50px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: beige;
    font-size: 32px;
    width: max-content;
    position: relative;
    left: 500px;
    bottom: 40px;
}

.quantity__buttons{
    width: max-content;
    position: relative;
    left: 500px;
}