.header__search__img {
    position: relative;
    left: 20%;
    top: 9px;
    max-width: 100%;
}

.header__cart__img {
    position: relative;
    top: 10px;
    left: 10%;
    cursor: pointer;
    max-width: 100%;
}

.header__home__text {
    position: relative;
    top: 38.5px;
    left: 14%;
    cursor: pointer;
    width: auto;
    max-width: 6%;
}

.header__amdin__panel__text {
    position: absolute;
    top: 38.5px;
    left: 80%;
    cursor: pointer;
    width: auto;
    max-width: 10%;
}