.header__search__img {
    position: relative;
    left: 20%;
    max-width: 100%;
}

.header__cart__img {
    position: relative;
    left: 25%;
    cursor: pointer;
}

.header__home__text {
    position: relative;
    top: 35px;
    left: 12%;
    cursor: pointer;
    width: auto;
    max-width: 6%;
}

.header__amdin__panel__text {
    position: absolute;
    top: 38.5px;
    left: 80%;
    cursor: pointer;
    width: auto;
    max-width: 10%;
}

.search{
    position: relative;
    left: 20%;
    width: 800px;
}